
input#app-loginPage-userid{
        width:510px !important;
}


input#app-loginPage-password{
        width:510px !important;
}


input#app-loginPage-login{
    color:#bd2;
    background-color:#337ab7;
}